<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <title>EEN API Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Raspberry Pi Access Control</h1>
    <p>RFID access control example integration with the Eagle Eye Networks API</p>
    <p>Badge Scan History:
        <ul id="scan_history"></ul>
    </p>

    <!-- templates -->
    <script type="text/template" id="message_template">
        <div class="status_updates <%= data.status %>">
            <div style="display: inline-block;">
              <img src="/img/prev/<%= data.camera %>/<%= data.timestamp %>">
            </div>
            <div style="display: inline-block;">
                <ul>
                    <li>Location: <%= data.door %></li>
                    <li>Status: <%= data.status %></li>
                    <li>Badge name: <%= data.badgeName %></li>
                    <li>Time: <%= new Date().toLocaleString() %></li>
                    <li>Video: <a href="/video/<%= data.camera %>/<%= data.timestamp %>" download="<%= data.camera %>_<%= data.timestamp %>.mp4">video link</a></li>
                </ul>
            </div>
        </div>
    </script>

    <!-- includes -->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/underscore-1.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
